{% extends "base.html" %}

{% block titulo %}
    FeedIn! - Login
{% endblock titulo %}

{% block content %}
    <div class="text-center mb-4">
        <h2>Acesso à plataforma</h2>
    </div>

    <div class="container p-2 my-container-color row mb-3 w-50 mx-auto g-3">
        <form method="POST">
            {{ form.csrf_token }}

            <div class="col-md-12 row mb-3">
                {{ form.email.label(class="col-sm-2 col-form-label") }}
                <div class="col-sm-7">
                    {{ form.email(class="form-control") }}
                </div>
            </div>

            <div class="row mb-3">
                {{ form.senha.label(class="col-sm-2 col-form-label") }}
                <div class="col-sm-5">
                  {{ form.senha(class="form-control") }}
                </div>
            </div>

            <div class="row mb-3 justify-content-center">
                <div class="col-sm-4 text-center">
                    {{ form.botao_confirmacao(class="btn btn-primary w-100") }}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}